/* @import ??? */

::textures {
    texture1: url("../images/texture1.png");
    texture2: url("../images/texture2.png");
    texture3: url("../images/texture3.png");
}

* {
    color: red;
}

Point {

}

Polygon {
    color: #EEE;
}

Line {

}

.UBERON_1555 { /* digestive tract */
    texture: texture1;
}

#heart {
    texture: texture3;
}

#rect {
    color: #F88;
}
